#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}
#inp{
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 20px;
    height: 50px;
    border-radius: 30px;
}
#icon{
   
    background-image: url("search.svg");
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 8px;
    display: flex;
    height: 32px;
    justify-content: center;
    overflow: hidden;
    width: 32px;
}